
{% include "header.html" %}
    <body>

        <!-- Page Header-->
        <header id="Index_site" class="masthead" style="background-image: url('../static/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Seize the Moment</h1>
                            <span class="subheading">"Fate and character are different names for the same idea." </span>
                            <span class="meta" style="font-style: italic"> - Hermann Hesse</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
         <div class="container-pro px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="ind-row">
                        <img src="../static/assets/img/profile.jpg" class="pro_style">
                        <!-- Post preview-->
                        <div class="post-preview vetical-padding">
                            <a>
                                <h2 class="post-title">I'm Otis Lin, an Environmental Engineer.</h2>
                                <h3 class="post-subtitle">An Analytical, Perceptive, Organized, Studious Person.</h3>
                            </a>
                            <p class="post-meta">
                                I'm passionate about new things.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% include "about.html" %}
    {% include "post.html" %}
    {% include "movie.html" %}
    {% include "contact.html" %}
    {% include "footer.html" %}