        <!-- movie list-->
        <header id="Life_site" class="masthead" style="background-image: url('../static/assets/img/movie_list.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>One movie shows one life experience</h1>
                            <h2 class="subheading">My favorite movies of all time</h2>
                            <span class="meta">
                                Enjoy the way they interpret the world
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- main slide-->
        <div class="container-pro">
              <input type="radio" name="dot" id="one">
              <input type="radio" name="dot" id="two">
              <input type="radio" name="dot" id="three">
                  <!-- for mobil size-->
              <input type="radio" name="dot" id="onetwo">
              <input type="radio" name="dot" id="twothree">
              <input type="radio" name="dot" id="threethree">

              <div class="main-card">
                <div class="cards">
                  <!-- 1. yiyi -->
                  <div class="onecard" >
                    <div class="front" style="background-image: url('../static/assets/img/poster/1.jpg');">
                        <p class="large">1</p>
                    </div>
                    <div class="back">
                      <div class="back-word-height">
                    <div class="title">一一 <span class="release_date">(2000)</span></div>
                        <div class="rating">
                            <label>9.7</label>
                          <i class="fas fa-star star"></i>
                        </div>
                          <p class="review">Taiwanese life experience</p>
                        <p class="overview">
                            Each member of a family in Taipei asks hard questions about life's meaning as they live through everyday quandaries.
                        </p>

                      </div>
                    </div>
                  </div>
                  <!-- 2. Burning -->
                  <div class="onecard" >
                    <div class="front" style="background-image: url('../static/assets/img/poster/2.jpg');">
                        <p class="large">2</p>
                    </div>
                    <div class="back">
                      <div class="back-word-height">
                    <div class="title">버닝<span class="release_date">(2006)</span></div>
                        <div class="rating">
                            <label>9.6</label>
                          <i class="fas fa-star star"></i>
                        </div>
                          <p class="review">Show mordern life value</p>
                        <p class="overview">
                          Deliveryman Jongsu is out on a job when he runs into Haemi,
                           a girl who once lived in his neighborhood. She asks if
                           he'd mind looking after her cat while she's away on a trip to Africa.
                            On her return she introduces to Jongsu an enigmatic young man named Ben,
                             who she met during her trip. And one day Ben tells Jongsu about
                              his most unusual hobby...
                        </p>

                      </div>
                    </div>
                  </div>
            <!-- 3. Texas, Paris -->
                  <div class="onecard" >
                    <div class="front" style="background-image: url('../static/assets/img/poster/3.jpg');">
                        <p class="large">3</p>
                    </div>
                    <div class="back">
                      <div  class="back-word-height">
                    <div class="title">Texas, Paris<span class="release_date">(1984)</span></div>
                        <div class="rating">
                            <label>9.5</label>
                          <i class="fas fa-star star"></i>
                        </div>
                          <p class="review">Road Movie Romance</p>
                        <p class="overview">
                            A man wanders out of the desert not knowing who he is. His
                            brother finds him, and helps to pull his memory back of the
                            life he led before he walked out on his family and disappeared
                             four years earlier.
                        </p>

                      </div>
                    </div>
                  </div>
            <!-- 4. Summer Palace -->
                  <div class="onecard" >
                    <div class="front" style="background-image: url('../static/assets/img/poster/4.jpg');">
                        <p class="large">4</p>
                    </div>
                    <div class="back">
                      <div class="back-word-height">
                    <div class="title">颐和园<span class="release_date">(2006)</span></div>
                        <div class="rating">
                            <label>9.4</label>
                          <i class="fas fa-star star"></i>
                        </div>
                          <p class="review">Breathless Tragedy</p>
                        <p class="overview">
                            Country girl Yu Hong leaves her village, her family and her lover
                            to study in Beijing. At university, she discovers an intense
                            world of sexual freedom and forbidden pleasure. Enraptured,
                            compulsive, she falls madly in love with fellow student Zhou Wei.
                            Driven by obsessive passions they can neither understand nor
                            control, their relationship becomes one of dangerous games -
                            betrayals, recriminations, provocations - as all around them,
                            their fellow students begin to demonstrate, demanding democracy
                            and freedom.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cards">
                  <!-- 5. The exterminating Angels -->
                        <div class="onecard" >
                          <div class="front" style="background-image: url('../static/assets/img/poster/5.jpg');">
                              <p class="large">5</p>
                          </div>
                          <div class="back">
                            <div class="back-word-height">
                          <div class="title">El ángel exterminador<span class="release_date">(1962)</span></div>
                              <div class="rating">
                                  <label>9.3</label>
                                <i class="fas fa-star star"></i>
                              </div>
                                <p class="review">fascinating plot</p>
                              <p class="overview">
                                  After a lavish dinner party, the guests find themselves
                                  mysteriously unable to leave the room.
                              </p>

                            </div>
                          </div>
                        </div>
                  <!-- 6. Three color: Red -->
                        <div class="onecard" >
                          <div class="front" style="background-image: url('../static/assets/img/poster/6.jpg');">
                              <p class="large">6</p>
                          </div>
                          <div class="back">
                            <div class="back-word-height">
                          <div class="title">Trois couleurs : Rouge<span class="release_date">(1994)</span></div>
                              <div class="rating">
                                  <label>9.2</label>
                                <i class="fas fa-star star"></i>
                              </div>
                                <p class="review">My favorite Three Color</p>
                              <p class="overview">
                                  A model discovers a retired judge is keen on invading people's privacy.
                              </p>

                            </div>
                          </div>
                        </div>
                  <!-- 7. The Hidden -->
                        <div class="onecard" >
                          <div class="front" style="background-image: url('../static/assets/img/poster/7.jpg');">
                              <p class="large">7</p>
                          </div>
                          <div class="back">
                            <div class="back-word-height">
                          <div class="title">Caché<span class="release_date">(2005)</span></div>
                              <div class="rating">
                                  <label>9.2</label>
                                <i class="fas fa-star star"></i>
                              </div>
                                <p class="review">Race is unsolvable gap</p>
                              <p class="overview">
                                  A married couple is terrorized by a series of videotapes planted
                                  on their front porch.
                              </p>

                            </div>
                          </div>
                        </div>
                  <!-- 8. Paths of Glory -->
                        <div class="onecard" >
                          <div class="front" style="background-image: url('../static/assets/img/poster/8.jpg');">
                              <p class="large">8</p>
                          </div>
                          <div class="back">
                            <div class="back-word-height">
                          <div class="title">Paths of Glory<span class="release_date">(1957)</span></div>
                              <div class="rating">
                                  <label>9.0</label>
                                <i class="fas fa-star star"></i>
                              </div>
                                <p class="review">My Kubrick favorite</p>
                              <p class="overview">
                                  A commanding officer defends three scapegoats on trial for a
                                  failed offensive that occurred within the French Army in 1916.
                              </p>

                            </div>
                          </div>
                        </div>
                </div>
                <div class="cards">
                  <!-- 9. Ivan's childhood -->
                        <div class="onecard" >
                          <div class="front" style="background-image: url('../static/assets/img/poster/9.jpg');">
                              <p class="large">9</p>
                          </div>
                          <div class="back">
                            <div class="back-word-height">
                          <div class="title">Иваново детство<span class="release_date">(1962)</span></div>
                              <div class="rating">
                                  <label>8.8</label>
                                <i class="fas fa-star star"></i>
                              </div>
                                <p class="review">War Tragedy from child's view</p>
                              <p class="overview">
                                  In WW2, twelve year old Soviet orphan Ivan Bondarev works for
                                  the Soviet army as a scout behind the German lines and strikes
                                  a friendship with three sympathetic Soviet officers.
                              </p>

                            </div>
                          </div>
                        </div>
                  <!-- 10. All or Nothing -->
                        <div class="onecard" >
                          <div class="front" style="background-image: url('../static/assets/img/poster/10.jpg');">
                              <p class="large">10</p>
                          </div>
                          <div class="back">
                            <div class="back-word-height">
                          <div class="title">All or Nothing<span class="release_date">(2002)</span></div>
                              <div class="rating">
                                  <label>8.8</label>
                                <i class="fas fa-star star"></i>
                              </div>
                                <p class="review">Depict English class difficulty</p>
                              <p class="overview">
                                  Penny works at a supermarket and Phil is a gentle taxi-driver.
                                  Penny’s love for Phil has run dry and they lead joyless lives
                                  with their two children, Rachel, a cleaner, and Rory, who is
                                  unemployed and aggressive.
                              </p>

                            </div>
                          </div>
                        </div>
                  <!-- 11. In the mood for love -->
                        <div class="onecard" >
                          <div class="front" style="background-image: url('../static/assets/img/poster/11.jpg');">
                              <p class="large">11</p>
                          </div>
                          <div class="back">
                            <div class="back-word-height">
                          <div class="title">In the mood for love<span class="release_date">(2005)</span></div>
                              <div class="rating">
                                  <label>9.0</label>
                                <i class="fas fa-star star"></i>
                              </div>
                                <p class="review">Right Guys, Wrong Time.</p>
                              <p class="overview">
                                  Two neighbors form a strong bond after both suspect extramarital activities of
                                  their spouses. However, they agree to keep their bond platonic so as not to commit
                                  similar wrongs.
                              </p>

                            </div>
                          </div>
                        </div>
                  <!-- 12. Bicycle Thieves -->
                        <div class="onecard" >
                          <div class="front" style="background-image: url('../static/assets/img/poster/12.jpg');">
                              <p class="large">12</p>
                          </div>
                          <div class="back">
                            <div class="back-word-height">
                          <div class="title">Bicycle Thieves<span class="release_date">(1957)</span></div>
                              <div class="rating">
                                  <label>9.0</label>
                                <i class="fas fa-star star"></i>
                              </div>
                                <p class="review">The real world </p>
                              <p class="overview">
                                In post-war Italy, a working-class man's bicycle is stolen, endangering his
                                efforts to find work. He and his son set out to find it.
                              </p>

                            </div>
                          </div>
                        </div>
                </div>
              </div>
              <div class="button">
                    <label for="one" class="one active"></label>
                    <label for="onetwo" class="onetwo hide-lab"></label>
                    <label for="two" class="two"></label>
                    <label for="twothree" class="twothree hide-lab"></label>
                    <label for="three" class="three"></label>
                    <label for="threethree" class="threethree hide-lab"></label>
              </div>
        </div>

                <!-- photogallery-->
        <header class="masthead" style="background-image: url('../static/assets/img/photographer.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Find my Decisive Moment </h1>
                            <h2 class="subheading">The world seen from my eyes</h2>
                            <a type="button" class="btn btn-primary" href="{{ url_for('gallery')}}"> Photo work</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>