
        <!-- Research Accomplishment-->
        <header id="Post_site" class="masthead" style="background-image: url('../static/assets/img/conference.jpeg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Research on catalyst and NOx/mercury removal</h1>
                            <h2 class="subheading">Published on
                                <a href="https://aaqr.org/articles/aaqr-18-10-oa-0389" style="color: #FF8103">Aerosal and Air Quality Research</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h2 class="section-heading">Honor</h2>
                        <p> - Engineering Paper Award, Chinese Institute of Engineers, 2020 </p>
                        <p> - Best Engineering Paper Award, Taiwan Association for Aerosol Research, 2020 </p>
                    </div>
                </div>
            </div>
        </article>
        <!-- Project Completetion-->
        <header class="masthead" style="background-image: url('../static/assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Experience with the complete wastewater treatment system design</h1>
                            <h2 class="subheading">work experience in Vietnam</h2>
                            <span class="meta">
                                from 2019 to 2022
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- reclaim-->
        <header class="masthead" style="background-image: url('../static/assets/img/reclaim.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Wastewater Reclaimation Experience</h1>
                            <h2 class="subheading"> Treatment from wastewater to water recycle</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Code-->
        <header class="masthead" style="background-image: url('../static/assets/img/coding.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>System Control Learning</h1>
                            <span class="subheading">Control circuit design and Coding</span>
                            <span class="subheading">(C, Python, and Assembly language)</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h2 class="section-heading">Future</h2>
                        <p>With the increasing resource demand, resources are increasingly scarce, which makes the resource usage efficiency more important. Wastewater reclaimation is already an pratical application. However,high maintenance cost is still a problem; also, it require highly coordinated treament system because it is also included the waste management.</p>
                        <p>After my three-year work experience, I have three main objective. First one is the smart system which is able to catch the efficient data from the environment and the process. To this goal, I learn the circuit design, assembly language, and C. </p>
                        <p>With the smart system, there is tons of data. Therefore, the second thing is to use the python for the data analysis and machine learning for the purpose of the human-robot collaboration.  </p>
                        <p>The last one is the resource efficiency improvement. Through the smart system, data learning, and new material application, I expect to improve the resource efficiecny.</p>
                    </div>
                </div>
            </div>
        </article>

